.main-about {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;







  
}

//stylar textfältet
.section-text {
  margin-top: 2vw;
  .text-wrapper {
    width:75%;//bredd på textfältet
    margin: auto;
    h2 {
      @include paragraph; 
    }

    background: white;
    border: solid 10px $accentColor;
    padding: 1vw;
    p {
      color: black;
    }
}


}




.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap;



  //styling för sections
  .column {

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 2vw 0vw;
 
    //Container för alla bilder + text
    .presentation-box {
      display: flex;
      flex-direction: row;
      width: 30%;
      .bocca {
        max-height: 100%;
      }

      .text-block{
        background-color: $accentColor;
        width:40%;
        height: 100%;
      }



  } 

}
}




  
  .imgbox .img {
    width: 100%;
    object-fit: cover;
    height: auto;
  }
 

  .p {
    margin: 10px;
  }