
p, label {

    @include paragraph;
    color: white;
}


@media (max-width: 600px){
    
    main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        margin: 5vw 10vw 10vw 10vw;

        h2.desktop {
            display: none;
        }

        //styling för h2
        h2.mobile {
            @include paragraph;//mixin
            color: white;
            font-size: 200%;
            font-weight: lighter;
            text-align: center;
        }

        //generell styling för alla 3 sections
        section {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        label {
            margin-bottom: 1vw;
        }

        button {
            width: 80%;
            height: 5vw;
            @include paragraph;
            color: white;
            background: $accentColor;
            border-radius: 1vw;
            margin-top: 2.5vw;
            border-style: none;//variabel
        }

        //Första sectionen
        .form-container {

            //Hela formuläret
            .full-basic-info {
                display: flex;
                flex-direction: column;
        
                .attach-label-to-input{
                    display: flex;
                    flex-direction: column;
                    margin-top: 3vw;
                }
                input {
                    width: 80%;
                    height: 4vw;
                    border-radius: 1vw;
                    border-style: none;
                    
                }    
            }

            .date-guests {
            //för att lägga datum+antal bredvid varandra
                .input-wrap {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    input {
                        width: 60%;//det här blir inte exakt, justera sen
                        height: 4vw;
                        border-radius: 1vw;
                        border-style: none;
                    }
                }
                margin-bottom: 3vw;//skapa lite luft mellan
            }

            //beskriv dina önskemål-delen
            .free-text{
                display: flex;
                flex-direction: column;
        
                input {
                    height: 30vw;
                    width: 80%;
                    border-radius: 3vw;
                    border-style: none;
                }       
            }

        }

        //Mittensection
        .info-text {
            width: 100%;
            margin-top: 8vw;
            .call-us {
                font-size: 120%;
                font-weight: 400;
                text-align: center;
                width: 60%;
            }
        }   

        //Bildsection
        .image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 10vw;
        
            img {
                object-fit: cover;//mixin
                max-width: 60%;
                height: auto;
            }
        }    

    }
    
}


//FREDAG: Centrera inputfälten i bokningsformuläret
//justera formuläret i desktopvyn så det hänger ihop snygg när skärmstorleken justeras
//fixa variabler & marginalen på hela alltet

//Desktop
@media (min-width: 601px){

    main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 2vw;

        h2.mobile {
           display: none;
        }

        h2.desktop {
            @include paragraph;//gör en mixin av dessa
            color: white;
            font-size: 90%;
            font-weight: lighter;
        }
    }

    //styling för vänster section
    .form-container {
        width: 35%;
        label {
            margin: 0.5vw 0vw;
            font-size: 80%;
        }

        button {
            width: 80%;
            @include paragraph;
            color: white;
            background: $accentColor;
            border-radius: 0.5vw;
            margin: 0.5vw;
            border-style: none;//variabel
        }
        //första delen av formuläret inkl datum och antal
        .full-basic-info {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;//få till placeringen på inputrutorna så de speglar mockupen
            width: 100%;
           

            //Wrappar label+input i en div för att kunna fästa texten ovanpå inputfältet
            .attach-label-to-input {
                display: flex;
                flex-direction: column;
                margin-right: 1vw;
            }

            //för att lägga input-rutorna + text på rad i rätt ordning
            .input-wrap {
                display: flex;
                flex-direction: row;
                width: 100%;//behövs denna?
            }

            input {
                width: 90%;
                height: 2vw;//ev variabel
                border-radius: 0.5vw;//ev variabel
                border-style: none;
            }
        
        }

        .date-guests {
            .input-wrap {
                width: 100%;
    
                input {
                    width: 100%;
                }

            }
        }
        //beskriv dina önskemål-delen
        .free-text{
            display: flex;
            flex-direction: column;
            margin: 1vw 0vw;
            

            input {
                height: 10vw;
                width: 80%;
                border-radius: 1vw;
                border-style: none;
             }       
        }

    }

    //mittensection
    .info-text {
        width: 40%;
        padding: 0vw 4vw 0vw 3vw;


        .call-us {
            font-size: larger;
        }
    }

    //högersection
    .image-container {
        width: 25%;
        padding: 3vw 0vw;

        img {
            object-fit: cover;//mixin
            max-width: 80%;
            height: auto;
        }

    }

}
