@media (max-width: 600px) {

    header {
        h1 {
            width: 300px;
            text-align: center;
        }
    }

    .rubrikOmdöme {
        width: 350px;
        text-align: center;
        color: whitesmoke;
    }

    img {
        max-width: 350px;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 350px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    h5 {
        @include paragraph;
        color: $accentColor;
        font-size: 14px;
        margin: auto;
    }

    .article {
        padding-block: 35px;
    }

    .starIcons {
        color: $accentColor;
        width: fit-content;
        margin: auto;
    }

    @include paragraph;
}

@media (min-width: 600px) {
    .rubrikOmdöme {
        @include paragraph;
        text-align: left;
        margin-left: 156px;
        color: whitesmoke;
        font-size: 110%;
    }

    h5 {
        color: $accentColor;
        font-size: 14px;
        @include paragraph;
    }

    .images {
        max-width: 350px;
    }

    p {
        @include paragraph;
        font-size: 14px;
    }

    #event {
        width: 350px;
        height: 400px;
        position: relative;
        display: inline-block;
    }

    #wedding {
        width: 350px;
        height: 400px;
        position: relative;
        display: inline-block;
    }

    #birthday {
        width: 350px;
        height: 400px;
        position: relative;
        display: inline-block;
    }

    #hotelroom {
        width: 350px;
        height: 400px;
        position: relative;
        display: inline-block;
    }

    main {
        margin-left: 160px;
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
    }

    .starIcons {
        color: $accentColor;
        width: fit-content;
        margin: auto;
    }

    .article {
        padding-block: 35px;
    }
}