@media screen and (min-width: 600px) {
  body {
    background-color: $backgroundColor;
  }
  p {
    @include paragraph;
    color: white;
    .big {
      font-size: 250%;
    }
    .medium {
      font-size: 150%;
      margin-top: 10px;
    }
  }
  .background {
    background-image: url("https://images.unsplash.com/photo-1551818255-e6e10975bc17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80");
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 700px;
  }
  .startTextOver {
    width: 45%; 
    margin: 50px;
    display: flex;
    flex-direction: column;
  }
  .startTextUnder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $backgroundColor;
    width: 100%;
    min-height: 300px;

    .one {
      font-size: 17px;
      padding: 20px;
    }
    .two {
      font-size: 25px;
      padding: 20px;
    }
    .para {
      width: 30%;
      min-height: 200px;
    }
  }
}
@media (max-width: 600px) {
  body {
    background-color: $backgroundColor;
  }
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  p {
    @include paragraph;
    color: white;
    text-align: center;
    .big {
      font-size: 40px;
      margin-bottom: 50px;
    }
    .medium {
      font-size: 25px;
      text-align: left;
    }
  }
  .startTextOver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 50px;
  }
  .startTextUnder {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0deg, rgba(57, 65, 97, 0.68) 0%, rgba(34,27,105,1) 55%);
    .one {
      font-size: 17px;
    }
    .two {
      font-size: 25px;
    }
    .para {
      width: 80%;
    }
  }
  .telefonimg {
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 20px;
    width: 90%;
    height: 200px;
    background-image: url("https://images.unsplash.com/photo-1551818255-e6e10975bc17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80");
  }
}
