@charset "UTF-8";
.about header {
  color: red;
}

.img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgbox {
  padding: 0 0 30px 30px;
}

.imgbox .img {
  display: inline-block;
}

.text-block {
  background-color: #D68C45;
  width: 150px;
  height: 350px;
}

.p {
  margin: 10px;
}

@media (max-width: 600px) {
  body {
    width: 100%;
    background: #140F46;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -10px;
    overflow-x: hidden;
  }
  nav {
    visibility: hidden;
  }
  header {
    border-bottom: solid #D68C45 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    height: 30%;
    width: 100%;
  }
  header .title {
    position: absolute;
    width: 70%;
    height: 30%;
    padding: 3vw 6vw 3vw 20vw;
    margin-bottom: 50px;
  }
  header .title h1 {
    color: #D68C45;
    font-family: 'Gabriela', serif;
  }
  header .title h1 {
    font-size: 8vw;
  }
  header .hamburgermenu {
    color: #D68C45;
    width: 30%;
    height: 30%;
  }
  header .hamburgermenu .fa {
    position: absolute;
    right: 6vw;
    top: 6vw;
  }
  footer {
    font-family: 'Quicksand', sans-serif;
    color: white;
    width: 100%;
    background: #7d8aa1;
    background: linear-gradient(177deg, #7d8aa1 0%, #0f193b 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .adress {
    width: 25%;
    font-size: 2vw;
    padding: 2vw 8vw 2vw 8vw;
  }
  footer .socialmedia {
    width: 35%;
    padding-right: 4vw;
  }
  footer .socialmedia .fa {
    padding: 1vw;
  }
}

@media screen and (min-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  header {
    border-bottom: solid #D68C45 2px;
    -o-object-fit: cover;
       object-fit: cover;
    background-image: url("https://images.unsplash.com/photo-1551818255-e6e10975bc17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 130px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .title {
    border: solid 5px #D68C45;
    height: 70px;
    width: 200px;
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .title h1 {
    color: #D68C45;
    font-family: 'Gabriela', serif;
  }
  header .hamburgermenu {
    visibility: hidden;
  }
  nav {
    margin: 0px;
    padding: 0px;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0px;
    padding: 0px;
  }
  ul .yellowbutton {
    background: #D68C45;
    color: #140F46;
  }
  li {
    border: solid #D68C45 2px;
    font-size: 20px;
    list-style-type: none;
    margin: 30px;
    padding: 10px 20px;
    font-family: 'Quicksand', sans-serif;
  }
  li a {
    text-decoration: none;
    color: #D68C45;
    margin: 0px;
  }
  footer {
    font-family: 'Quicksand', sans-serif;
    color: white;
    width: 100%;
    background: #7d8aa1;
    background: linear-gradient(177deg, #7d8aa1 0%, #0f193b 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 130px;
  }
  footer .adress {
    width: 15%;
    font-size: 12pt;
    margin-left: 25px;
    padding: 20px;
  }
  footer .socialmedia {
    width: 20%;
  }
  footer .socialmedia i {
    padding-left: 20px;
  }
  footer .footnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .footnav .line {
    -webkit-text-decoration: white underline;
            text-decoration: white underline;
  }
  footer .footlink {
    list-style-type: none;
    border: none;
    font-size: 15px;
    margin: 20px;
  }
  footer .footlink a {
    text-decoration: none;
    color: white;
    margin: 0px;
  }
}

@media (max-width: 600px) {
  .body {
    background-color: #140F46;
  }
  .main-start {
    margin: auto;
  }
  p {
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-align: center;
  }
  p .big {
    font-size: 30px;
    margin-bottom: 20;
  }
  p .medium {
    font-size: 17px;
    text-align: left;
  }
  .startTextOver {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .startTextUnder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #140F46;
  }
  .startTextUnder .one {
    font-size: 17px;
  }
  .startTextUnder .two {
    font-size: 20;
  }
  .startTextUnder .para {
    width: 80%;
  }
  .telefonimg {
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 20px;
    width: 90%;
    height: 200px;
    background-image: url("https://images.unsplash.com/photo-1551818255-e6e10975bc17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80");
  }
}

@media screen and (min-width: 600px) {
  body {
    background-color: #140F46;
  }
  p {
    font-family: 'Quicksand', sans-serif;
    color: white;
  }
  p .big {
    font-size: 40px;
  }
  p .medium {
    font-size: 25px;
    margin-top: 10px;
  }
  .background {
    background-image: url("https://images.unsplash.com/photo-1551818255-e6e10975bc17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    min-height: 700px;
    position: relative;
  }
  .layer {
    background-color: rgba(20, 15, 70, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .startTextOver {
    width: 45%;
    margin: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .startTextUnder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(22, 36, 86, 0.68)), color-stop(55%, #140f46));
    background: linear-gradient(0deg, rgba(22, 36, 86, 0.68) 0%, #140f46 55%);
    min-height: 300px;
  }
  .startTextUnder .one {
    font-size: 17px;
    padding: 20px;
  }
  .startTextUnder .two {
    font-size: 25px;
    padding: 20px;
  }
  .startTextUnder .para {
    width: 30%;
    margin-top: 40px;
  }
}

p, label {
  font-family: 'Quicksand', sans-serif;
  color: white;
}

@media (max-width: 600px) {
  .main-book {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5vw 0vw;
  }
  .main-book h2.desktop {
    display: none;
  }
  .main-book h2.mobile {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 200%;
    font-weight: lighter;
    text-align: center;
  }
  .main-book .form-container {
    width: 60%;
  }
  .main-book .form-container label {
    margin-bottom: 1vw;
  }
  .main-book .form-container .attach-label-to-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 3vw;
  }
  .main-book .form-container .basic-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .main-book .form-container .basic-info .input-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .main-book .form-container .basic-info input {
    width: 100%;
    height: 4vw;
    border-radius: 1vw;
    border-style: none;
  }
  .main-book .form-container .date-guests {
    margin-bottom: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .main-book .form-container .date-guests .wrap3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .main-book .form-container .date-guests .wrap3 .attach-label-to-input {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-book .form-container .date-guests .wrap3 .attach-label-to-input #date {
    height: 5vw;
    width: 100%;
    border-radius: 1vw;
    border-style: none;
  }
  .main-book .form-container .date-guests .wrap3 .attach-label-to-input #guests {
    height: 5vw;
    width: 100%;
    border-radius: 1vw;
    border-style: none;
  }
  .main-book .form-container .dropdown {
    margin: 2vw 0vw 4vw 0vw;
  }
  .main-book .form-container .dropdown select {
    margin-top: 1.5vw;
    width: 100%;
  }
  .main-book .form-container .free-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-book .form-container .free-text .wrap4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .main-book .form-container .free-text .wrap4 input {
    height: 30vw;
    width: 100%;
    border-radius: 3vw;
    border-style: none;
  }
  .main-book .form-container .free-text button {
    width: 100%;
    height: 6vw;
    font-family: 'Quicksand', sans-serif;
    color: white;
    background: #D68C45;
    border-radius: 1vw;
    margin-top: 2.5vw;
    border-style: none;
  }
  .main-book .info-text {
    width: 100%;
    margin-top: 8vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-book .info-text .call-us {
    font-size: 120%;
    text-align: center;
    width: 70%;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: normal;
  }
  .main-book .info-text p {
    width: 80%;
  }
  .main-book .image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-top: 10vw;
  }
  .main-book .image-container img {
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 60%;
    height: auto;
  }
}

@media screen and (min-width: 600px) {
  .body-book {
    width: 100%;
  }
  .header-book {
    width: 100%;
  }
  .footer-book {
    width: 100%;
  }
  .main-book {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 2vw;
    width: 100%;
  }
  .main-book h2.mobile {
    display: none;
  }
  .main-book h2.desktop {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: large;
    font-weight: lighter;
  }
  .main-book .form-container {
    width: 35%;
    padding: 0vw 2vw 2vw 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-book .form-container label {
    margin: 0.5vw 0vw;
    font-size: 80%;
  }
  .main-book .form-container .full-basic-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    width: 100%;
  }
  .main-book .form-container .full-basic-info .input-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .main-book .form-container .full-basic-info .input-wrap .attach-label-to-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 45%;
  }
  .main-book .form-container .full-basic-info .input-wrap .attach-label-to-input input {
    width: 100%;
    height: 2vw;
    border-radius: 0.5vw;
    border-style: none;
  }
  .main-book .form-container .dropdown {
    width: 100%;
    height: 2vw;
    margin: 1vw 0vw 3vw 0vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-book .form-container .dropdown label {
    margin-bottom: 0.5vw;
  }
  .main-book .form-container .dropdown select option {
    font-family: 'Quicksand', sans-serif;
  }
  .main-book .form-container .free-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2vw;
    width: 100%;
  }
  .main-book .form-container .free-text .wrap4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .main-book .form-container .free-text .wrap4 input {
    height: 10vw;
    width: 100%;
    border-radius: 0.5vw;
    border-style: none;
  }
  .main-book .form-container .free-text :last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-book .form-container .free-text button {
    margin-top: 1vw;
    width: 100%;
    height: 3vw;
    font-family: 'Quicksand', sans-serif;
    color: #140F46;
    background: #D68C45;
    font-size: large;
    font-weight: 500;
    border-radius: 0.5vw;
    border-style: none;
  }
  .main-book .info-text {
    width: 35%;
    padding: 0vw 3vw 0vw 4vw;
  }
  .main-book .info-text .call-us {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: normal;
  }
  .main-book .info-text .call-us {
    font-size: medium;
  }
  .main-book .info-text a {
    color: white;
  }
  .main-book .info-text a:visited {
    color: #D68C45;
  }
  .main-book .image-container {
    width: 30%;
    padding: 1vw 0vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-book .image-container img {
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 80%;
    height: auto;
  }
}

.rubrikOmdöme {
  text-align: center;
  color: #D68C45;
  font-size: 110%;
  font-family: 'Gabriela', serif;
}

h5 {
  color: #D68C45;
  font-size: 14px;
}

.images {
  max-width: 350px;
}

p {
  font-size: 14px;
}

#event {
  width: 350px;
  height: 400px;
  position: relative;
  display: inline-block;
}

#wedding {
  width: 350px;
  height: 400px;
  position: relative;
  display: inline-block;
}

#birthday {
  width: 350px;
  height: 400px;
  position: relative;
  display: inline-block;
}

#hotelroom {
  width: 350px;
  height: 400px;
  position: relative;
  display: inline-block;
}

main {
  margin-left: 160px;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */