.about header {
  color: red;
}

@media (max-width: 600px) {
  body {
    background: #140F46;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -10px;
  }
  nav {
    visibility: hidden;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    height: 30%;
    width: 100%;
  }
  header .title {
    position: absolute;
    width: 70%;
    height: 30%;
    padding: 3vw 6vw 3vw 20vw;
  }
  header .title h1 {
    color: #D68C45;
    font-family: 'Gabriela', serif;
  }
  header .title h1 {
    font-size: 8vw;
  }
  header .hamburgermenu {
    color: #D68C45;
    width: 30%;
    height: 30%;
  }
  header .hamburgermenu .fa {
    position: absolute;
    right: 6vw;
    top: 6vw;
  }
  footer {
    font-family: 'Quicksand', sans-serif;
    color: white;
    width: 100%;
    background: #7d8aa1;
    background: linear-gradient(177deg, #7d8aa1 0%, #0f193b 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .adress {
    width: 25%;
    font-size: 2vw;
    padding: 2vw 8vw 2vw 8vw;
  }
  footer .socialmedia {
    width: 35%;
    padding-right: 4vw;
  }
  footer .socialmedia .fa {
    padding: 1vw;
  }
}

@media screen and (min-width: 600px) {
  body {
    margin: -10px;
  }
  header {
    border: black solid 1px;
    -o-object-fit: cover;
       object-fit: cover;
    background-image: url("https://images.unsplash.com/photo-1551818255-e6e10975bc17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 130px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .title {
    border: solid 5px #D68C45;
    height: 70px;
    width: 200px;
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .title h1 {
    color: #D68C45;
    font-family: 'Gabriela', serif;
  }
  header .hamburgermenu {
    visibility: hidden;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  ul .yellowbutton {
    background: #D68C45;
    color: #140F46;
  }
  li {
    border: solid #D68C45 1px;
    font-size: 20px;
    list-style-type: none;
    margin: 30px;
    padding: 10px 20px;
    font-family: 'Quicksand', sans-serif;
  }
  li a {
    text-decoration: none;
    color: #D68C45;
  }
  footer {
    font-family: 'Quicksand', sans-serif;
    color: white;
    width: 100%;
    background: #7d8aa1;
    background: linear-gradient(177deg, #7d8aa1 0%, #0f193b 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 130px;
  }
  footer .adress {
    width: 15%;
    font-size: 12pt;
    padding: 20px;
  }
  footer .socialmedia {
    width: 20%;
  }
  footer .socialmedia i {
    padding-left: 20px;
  }
}

@media screen and (min-width: 600px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
  }
  p {
    font-family: 'Quicksand', sans-serif;
    color: white;
  }
  p .big {
    font-size: 40px;
  }
  p .medium {
    font-size: 25px;
    margin-top: 30px;
  }
  .background {
    background-image: url("https://images.unsplash.com/photo-1551818255-e6e10975bc17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .startTextOver {
    width: 45%;
    margin: 50px;
  }
  .startTextUnder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .startTextUnder .one {
    font-size: 17px;
    padding: 30px;
  }
  .startTextUnder .two {
    font-size: 25px;
    padding: 20px;
  }
  .startTextUnder .para {
    width: 50%;
    height: 200px;
  }
}

@media (max-width: 600px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .basic-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .date-guests {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .free-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 600px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 2vw;
  }
  .basic-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */